*{
    border: 2 px solid blueviolet;
}
body{
    background-color: green;
    width: 100%;
    height: auto;
}
.container{
    background-color: aqua;
    height: auto;
    width: 1024px;
}
#output{
    background-color: rgb(126, 11, 99);
    height: 100%;
    width: 50%;
}
#contenedor_grande{
    background-color: #0000FF;
}
.contenedor_uno{
    width: 50%;
    margin-left: 20%;
    background-color: #00FF00;
}
.contenedor_dos{
    background-color: #FF0000;
    margin-left: 60%; 
    width: 30%;
    
    
}